<h1> Welcome to URL Shortener </h1>

<%= form_tag('/sessions', :method => :post) do %>

  <%= label_tag :email %>:
  <%= text_field_tag :email %>

  <%= label_tag :password %>:
  <%= password_field_tag :password_hash %>
  <%= submit_tag "Log In"%>

<% end %>

<%= form_for @user do |f| %>

  <%= f.label :name %>:
  <%= f.text_field :name %>

  <%= f.label :email %>:
  <%= f.text_field :email %>

  <%= f.label :password %>:
  <%= f.password_field :password_hash %>
  <%= f.submit "Sign Up"%>
<% end %>
